@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

body {
  background-color: #e7fefc;
  font-family: 'Rubik', sans-serif;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

/* a:hover {
  color: #bededc;
} */
/* #bededc */
/* #d1ebe9 */
